# Binaries
terraform-provider-roadie
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Go workspace
go.work
go.work.sum

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
